<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Impedir a execução de scripts externos -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <!-- Título da janela -->
    <title>Cadastro de clientes</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado ATENÇÃO!!! sempre após o CSS do bootstrap -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <!-- Container de Pesquisa de Usuários -->
        <div class="mb-4">
            <label for="buscarCliente" class="form-label">Buscar cliente:</label>
            <div class="input-group">
                <input type="text" id="buscarCliente" class="form-control"
                    placeholder="Digite o nome ou CPF para buscar..." aria-label="Pesquisar Usuário">
                <button class="btn btn-outline-primary" type="button" onclick="buscarNome()">Buscar</button>
            </div>
        </div>
    </div>

    <form id="frmCli"> <!-- Início do formulário -->
        <!-- Identificação do Usuário -->
        <fieldset class="border p-4 mt-4"> <!-- Cria um campo de identificação com borda e padding -->

            <div class="mb-3 row"> <!-- Cria uma linha para o campo de nome -->

                <div class="col-sm-8"> <!-- Cria uma divisão para o campo de entrada -->
                    <label for="validationDefault01" class="form-label">Nome Completo:</label> <!-- Label para o campo Nome -->
                    <input type="text" class="form-control" id="nomeCliente" placeholder="Nome" maxlength="30" required>
                    <!-- Campo de texto para o nome, obrigatório e com foco automático -->
                </div>

                <div class="col-sm-4">

                    <label for="cpf" class="form-label">CPF:</label> <!-- Label para o campo CPF -->
                    <input type="text" class="form-control" id="cpfCliente" placeholder="Insira seu CPF" oninput="validarCPF(this)" required>
                    <!-- Campo para CPF, com validação via JavaScript -->
                </div>

            </div>

            <div class="mb-3 row"> <!-- Cria uma linha para o campo de e-mail, telefone e cep -->

                <div class="col-sm-5">
                    <label for="validationDefaultUsername" class="form-label">E-mail:</label>
                    <!-- Label para o campo E-mail -->
                    <input type="email" class="form-control" id="emailCliente" maxlength="30" required>
                    <!-- Campo para e-mail, obrigatório -->
                </div>

                <div class="col-sm-5">
                    <label for="cfone" class="form-label">Telefone:</label>
                    <!-- Label para o campo Telefone -->
                    <input type="tel" class="form-control" id="telefoneCliente" placeholder="Insira seu telefone" required oninput="mascaraTelefone(this)">
                    <!-- Campo para telefone, com máscara aplicada via JavaScript -->
                </div>

                <div class="col-sm-2">
                    <label for="cep" class="form-label">CEP:</label> <!-- Label para o campo CEP -->
                    <input type="text" id="cep" class="form-control" maxlength="9" onblur="buscarEndereco()">
                    <!-- Campo para CEP, com função JavaScript para buscar o endereço ao perder o foco -->
                </div>

            </div>

            <div class="mb-3 row"> <!-- Cria uma linha para o campo de Logradouro, número e complemento -->

                <div class="col-sm-5">
                    <label for="logradouro" class="form-label">Logradouro:</label>
                    <!-- Label para o campo Logradouro -->
                    <input type="text" class="form-control" id="logradouro"> <!-- Campo para Logradouro -->
                </div>

                <div class="col-sm-4">
                    <label for="cnum" class="form-label">Número:</label>
                    <!-- Label para o campo Número -->
                    <input type="number" class="form-control" id="numero" min="0" max="99999" required> <!-- Campo para Número -->
                </div>

                <div class="col-sm-3">
                    <label for="ccomp" class="form-label">Complemento:</label>
                    <!-- Label para o campo Complemento -->
                    <input type="text" class="form-control" id="complemento"> <!-- Campo para Complemento -->
                </div>

            </div>

            <div class="mb-3 row"> <!-- Cria uma linha para o campo de bairro, cidade e uf -->

                <div class="col-sm-4">
                    <label for="bairro" class="form-label">Bairro:</label>
                    <!-- Label para o campo Bairro -->
                    <input type="text" class="form-control" id="bairro"> <!-- Campo para Bairro -->
                </div>

                <div class="col-sm-5">
                    <label for="cidade" class="form-label">Cidade:</label>
                    <!-- Label para o campo Cidade -->
                    <input type="text" class="form-control" id="cidade"> <!-- Campo para Cidade -->
                </div>

                <div class="col-sm-3">
                    <label for="uf" class="form-label">UF:</label> <!-- Label para o campo UF -->
                    <select id="uf" class="form-control">
                        <!-- Campo de seleção para UF, obrigatório -->
                        <option value="">Selecione</option> <!-- Opção padrão para selecionar o estado -->
                        <!-- Lista de opções para os estados do Brasil -->
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select> <!-- Lista de estados -->
                </div>

            </div>
        </fieldset>

        <div class="mt-4 text-center form-group"> <!-- Seção para os botões no final do formulário -->
            <button type="submit" id="btnCreate" class="btn btn-success">Adicionar</button> <!-- Botão Adicionar -->
            <button type="submit" id="btnUpdate" class="btn btn-warning">Editar</button> <!-- Botão Editar -->
            <button type="button" id="btnDelete" class="btn btn-danger">Excluir</button> <!-- Botão Excluir -->
            <button type="reset" id="btnReset" onclick="resetForm()"></button> <!-- Botão Limpar -->
        </div>

    </form>
    </div>

    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="icone banco de dados" id="iconeDB">
    </footer>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Processo de renderização -->
    <script src="renderer.js"></script>

    <!-- Link para um arquivo JavaScript externo -->
    <script src="script.js"></script>
</body>

</html>